button {
    background-color: #1282A2;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
}

button:hover {
    background-color: #001F54;
    color: white;
}