.productSlider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.productImage img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
}

.productInfo {
    flex: 1;
    padding: 0 1rem;
    text-align: center; /* Add this line to center align the product info */
}

.productInfo h4 {
    margin-top: 0;
}

.arrowButtons {
    display: flex;
    align-items: center;
}

.arrowButtons button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0 0.5rem;
}

.arrowButtons p {
    margin: 0 1rem;
    font-size: 1rem;
    font-weight: bold;
}